$color-light-gray: #f1f2f6;
$color-white: #fff;
$color-black: #333;
$color-green: #2ecc71;
$color-medium-green: #24c486;
$color-dark-green: #1abc9c;
$color-red: #f53b57;
$color-dark-red: #f53b82;

$width-container: 1000px;

$gap-10: 0.625rem;
$gap-12: 0.75rem;
$gap-15: 0.9375rem;
$gap-20: 1.25rem;
$gap-25: 1.5625rem;
$gap-30: 1.875rem;

$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.375rem;
$font-30: 1.875rem;
